<nav class="navbar">
    <ul class="navbar-list">
        <li class="navbar-item">
            <a class="navbar-link" href="/">
                <img class="navbar-icon" src="/static/media/icons/home-icon.png" alt="">
                Home
            </a>
        </li>
        <li class="navbar-item dropdown">
            <button class="dropdown-button">
                <img class="navbar-icon" src="/static/media/icons/leisure-icon.png" alt="">
                Leisure
            </button>
            <ul class="dropdown-menu">

                <li>
                    <a class="dropdown-link" href="/leisure/games">
                        <img class="navbar-icon" src="/static/media/icons/games-icon.png" alt="">
                        Games
                    </a>
                </li>

                <li>
                    <a class="dropdown-link" href="/leisure/movies">
                        <img class="navbar-icon" src="/static/media/icons/movies-icon.png" alt="">
                        Movies
                    </a>
                </li>

            </ul>
        </li>
        <li class="navbar-item">
            <a class="navbar-link" href="/resume">
                <img class="navbar-icon" src="/static/media/icons/resume-icon.png" alt="">
                Resume
            </a>
        </li>

        <li class="navbar-item">
            <a class="navbar-link" href="/contact">
                <img class="navbar-icon" src="/static/media/icons/contact-icon.png" alt="">
                Contact me
            </a>
        </li>
    </ul>
</nav>