<nav class="navbar">
    <ul class="navbar-list">
        <li class="navbar-item">
            <a class="navbar-link" href="/">
                <img class="navbar-icon" src="/static/media/icons/home-icon.png" alt="">
                Home
            </a>
        </li>
        <li class="navbar-item dropdown">
            <button class="dropdown-button">
                <img class="navbar-icon" src="/static/media/icons/leisure-icon.png" alt="">
                Leisure
            </button>
            <ul class="dropdown-menu">
                <li>
                    <button class="dropdown-link" onclick="setTheme('sunset')">
                        <img src="/static/media/themes/sun-theme.png" alt="" class="navbar-icon">
                        Sunset
                    </button>
                </li>
                <li>
                    <button class="dropdown-link" onclick="setTheme('night')">
                        <img src="/static/media/themes/night-theme.png" alt="" class="navbar-icon">
                        Night
                    </button>
                </li>
                <li>
                    <button class="dropdown-link" onclick="setTheme('ocean')">
                        <img class="navbar-icon" src="/static/media/themes/ocean-theme.png" alt="">
                        Ocean
                    </button>
                </li>

                <li>
                    <button class="dropdown-link" href="/leisure/movies" onclick="setTheme('forest')">
                        <img class="navbar-icon" src="/static/media/themes/forest-theme.png" alt="">
                        Forest
                    </button>
                </li>
            </ul>
        </li>
        <li class="navbar-item">
            <a class="navbar-link" href="/resume">
                <img class="navbar-icon" src="/static/media/icons/resume-icon.png" alt="">
                Resume
            </a>
        </li>

        <li class="navbar-item">
            <a class="navbar-link" href="/contact">
                <img class="navbar-icon" src="/static/media/icons/contact-icon.png" alt="">
                Contact me
            </a>
        </li>
    </ul>
</nav>