h1 {
    font-size: var(--font-size-title);
    margin-bottom: var(--spacing-medium);
}

h2 {
    font-size: var(--font-size-large);
    margin-bottom: var(--spacing-medium);
}

p {
    font-size: var(--font-size-medium);
    margin-bottom: var(--spacing-medium);
}