body {
  background-color: antiquewhite;
  font-family: sans-serif;
}

nav {
  display: flex;
  background-color: gainsboro;
  width: 95%;
  height: auto;
  margin: 2vh;
  padding: 1vh;
  box-shadow: 5px 5px 5px grey;
  border-radius: 1vh;
  justify-content: space-between;
  align-self: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 1rem; 
  margin: 1vh;
}

nav ul li a img {
  width: auto;
  height: 1.15em;
  object-fit: contain;
  vertical-align: middle;
  transform: scale(1.1);
  transition: 0.15s ease-in-out;
}

h1, h2 {
  color: #333;
}
input, button {
  margin-top: .5rem;
  display: block;
}

.lang-menu {
  list-style: none;
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-right: 1rem;
}

.lang-menu > .lang-trigger > button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.lang-menu img {
  width: 24px;
  height: auto;
  vertical-align: middle;
}

.lang-dropdown {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background: white;
  border: 1px solid #ddd;
}

.lang-dropdown li {
  padding: 4px;
}

.lang-dropdown li a {
  display: block;
}

.lang-trigger:hover .lang-dropdown,
.lang-trigger:focus-within .lang-dropdown {
  display: block;
}
.lang-dropdown li:hover {
  background: #f0f0f0;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav a:hover {
  color: darkblue;
}

nav a.active {
  color: darkred;
}

main {
  background-color: thistle;
  width: 95vw;
  margin: 2vh;
  padding: 1vh;
  box-shadow: 5px 5px 5px grey;
  border-radius: 10px;
}