<nav>
        <ul>
            <li>
                <a href="{{url_for('home')}}"> Home </a>
            </li>
            <li>
                <a href="{{url_for('food')}}"> Food </a>
            </li>
            <li>
                <a href="{{url_for('podcasts')}}"> Podcasts </a>
            </li>
            <li>
                <a href="{{url_for('apps')}}"> Apps </a>
            </li>
            <li>
                <a href="{{url_for('resume')}}"> Resume </a>
            </li>
        </ul>
        <ul id="languages">
            <button> French </button>
            <button> English </button>
            <button> Portuguese </button>
        </ul>
    </nav>