<nav>
        <ul>
            <li>
                <a href="/"> Home </a>
            </li>
            <li>
                <a href=""> Food </a>
            </li>
            <li>
                <a href=""> Podcasts </a>
            </li>
            <li>
                <a href=""> Apps </a>
            </li>
            <li>
                <a href=""> Resume </a>
            </li>
        </ul>
        <ul id="languages">
            <button> French </button>
            <button> English </button>
            <button> Portuguese </button>
        </ul>
    </nav>