<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ title }} </title>
    <link rel="icon" type="image/png" href="/static/media/icons/{{ favicon }}">
    <link rel="stylesheet" href="/static/css/base-style.css">
    {% block styles %}{% endblock %}
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/"> 
                    <img src="/static/media/icons/home-icon.png" alt="">
                    Home
                </a>
            </li>
            <li>
                <a href="/food"> 
                    <img src="/static/media/icons/food-icon.png" alt="">
                    Food
                </a>
            </li>
            <li>
                <a href="/boardgames">
                    <img src="/static/media/icons/boardgames-icon.png" alt="">
                    Board games
                </a>
            </li>
            <li>
                <a href="/apps"> 
                    <img src="/static/media/icons/software-icon.png" alt=""> 
                    Software 
                </a>
            </li>
            <li>
                <a href="/resume"> 
                    <img src="/static/media/icons/resume-icon.png" alt="">
                    Resume 
                </a>
            </li>
            <li>
                <a href=""> 
                    <img src="/static/media/icons/blog-icon.png" alt="blog">
                    Blog
                </a>
            </li>
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>