<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Placeholder {% endblock %} </title>
    <link rel="stylesheet" href="/static/base-style.css">
    {% block styles %}{% endblock %}
</head>
<body>
    <nav class="main-nav-bar">
        <ul>
            <li>
                <a href="/">
                    <img src="/static/media/home-icon.png" alt="">
                </a>
            </li>
            <li>
                <a href="/food"> Food </a>
            </li>
            <li>
                <a href="/boardgames"> Board games </a>
            </li>
            <li>
                <a href="/apps"> Apps </a>
            </li>
            <li>
                <a href="/resume"> Resume </a>
            </li>
        </ul>
        <a href="">
            <img src="" alt="">
        </a>
        <ul class="lang-menu">
        <li class="lang-trigger">
            <button aria-label="Choose language">
                <img src="/static/media/languages/language.png" alt="Languages" />
            </button>
            <ul class="lang-dropdown">
                <li>
                    <a href="/set_language/en">
                        <img src="/static/media/languages/britain.png" alt="English" />
                    </a>
                </li>
                <li>
                    <a href="/set_language/fr">
                        <img src="/static/media/languages/france.png" alt="Français" />
                    </a>
                </li>
                <li>
                    <a href="/set_language/pt">
                        <img src="/static/media/languages/portugal.png" alt="Português" />
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>