{% extends "base.html" %}

{% block styles %} <link rel="stylesheet" href="/static/css/contact-style.css"> {% endblock %}

{% block content %}
    <h1> Contact information </h1>

    <ul>
        <li>
            <img src="/static/media/icons/email-icon.png" alt="">
            <a href="mailto:vitorbmcurado@proton.me"> vitorbmcurado@proton.me </a>
        </li>
        <li>
            <img src="/static/media/icons/linkedin-icon.png" alt="">
            <a href="https://www.linkedin.com/in/vitor-c-37471b1b3/"> LinkedIn </a>
        </li>
        <li>
            <img src="/static/media/icons/github-icon.png" alt="">
            <a href="https://github.com/Vitor-Curado"> GitHub </a>
        </li>
        <li>
            <img src="/static/media/icons/telephone-icon.png" alt="">
            <a href="tel:+16477817484"> +1 (647) 781-7484 </a>
        </li>
    </ul>
{% endblock %}