{% extends "base.html" %}

{% block title %} Food {% endblock %}

{% block styles %} <link rel="stylesheet" href="/static/css/food-style.css"> {% endblock %}

{% block content %}

<section>
    <ul id="food-list">
        {% for food in foods %}
        <li class="food-card">
            <img src="/static/media/food/{{ food.image_gallery[0] }}" alt="{{ food.title }}" width="300" height="300"><br>
            <a href="/food/{{ food.slug }}"> <strong> {{ food.title }} </strong> </a>
        </li>
        {% else %}
        <li>No projects yet.</li>
        {% endfor %}
    </ul>
</section>
{% endblock %}