{% extends "base.html" %}

{% block title %} {{ food.title }} {% endblock %}

{% block styles %} <link rel="stylesheet" href="{{ url_for('static', filename='food-detail-style.css') }}"> {% endblock %}


{% block content %}

  <a href="{{ request.referrer or url_for('index') }}" class="back-button" aria-label="Go back">
    Back
  </a>

  <header>
    <h1> {{ food.title }} </h1>
    
    <figure>
      <img src="{{ url_for('static', filename=food.image_gallery[0]) }}" alt="{{ food.title }}">
      <figcaption> Image of {{ food.title }} </figcaption>
    </figure>
  </header>

  <article>
    <details>
      <summary> Equipment required </summary>
      <ul>
        {% for item in food.equipment %}
          <li> {{ item }} </li>
        {% endfor %}
      </ul>
    </details>

    <details>
      <summary> Ingredients </summary>
      <ul>
        {% for ingredient in food.main_ingredients %}
          <li> {{ ingredient }} </li>
        {% endfor %}
      </ul>
    </details>

    <details>
      <summary> Preparation Steps </summary>
      <ol>
        {% for step in food.cooking_instructions %}
          <li> {{ step }} </li>
        {% endfor %}
      </ol>
    </details>

    <footer>
      <p> Estimated time required: {{ food.estimated_time_required_in_minutes }} minutes </p>
    </footer>
  </article>
{% endblock %}