{% extends "base.html" %}

{% block title %} Resume {% endblock %}

{% block content %}
    <h1> Software developer </h1>
    <p id="headline"> Cunning problem solver and tinkerer, not bound by any programming language and only constrained by budgets and project managers. </p>

    <section id="work-experience">
        <h2> Work Experience </h2>
        <h3 class="job-title"> Food busser </h3>
        <p class="description"> Cleared and set tables in a fast-paced restaurant environment while providing excellent customer service. </p>

        <h3 class="job-title"> General laborer </h3>
        <p class="description"> Worked in an outdoor environment collecting scrap tires around the Grand Toronto Area </p>
    </section>

    <section id="projects">

    </section>

    <section id="certifications">
        <h2> Certifications </h2>
        <ul>
            <li> CompTIA A+, 2026 </li>
        </ul>
    </section>

    <section id="education">
        <h2> Education </h2>
        <h3> Ontario College Diploma, Algonquin College, 2023 - 2025</h3>
    </section>
{% endblock %}