{% extends "base.html" %}

{% block title %} Resume {% endblock %}

{% block content %}
    <h1> Software developer </h1>
    <p id="headline"> Junior software developer, Rust enthusiast. Very thoughtful of performance, resource efficiency and code maintainability when I'm not panicking over understanding Rust </p>

    <section class="resume-section">
        <h2> Education </h2>
        <h3> Ontario College Diploma, Algonquin College, 2023 - 2025</h3>
    </section>

    <section class="resume-section">
        <h2 class="section-title"> Projects </h2>
        <h3 class="title"> Personal Portfolio Website | Continuous development </h3>
        <p class="details"> Rust | Axum | Askama | HTML | CSS | Nginx | Linux Fedora Droplet | VS Code </p>
        <p class="summary"> My personal website showcasing my skills and projects. </p>
        <ul class="project-overview">
            <li> Developed a responsive and visually appealing portfolio website using Rust and Askama templating engine. </li>
            <li> Implemented dynamic content rendering to showcase projects and skills effectively. </li>
            <li> Deployed the application using Nginx for optimal performance and scalability. </li>
            <li> Ensured cross-browser compatibility and mobile responsiveness through meticulous HTML and CSS design. </li>
        </ul>
        <ul class="project-features">
            <li> Home page with development diary </li>
            <li> Resume page </li>
            <li> Food page </li>
        </ul>

        <h3 class="title"> Financial application </h3>
        <p class="details"> C++ | Qt | Not yet started </p>
        <p class="summary"> An in-depth, open-source, cross-platform, privacy-first financial aggregator application for nerdy analysis built </p>
        <ul class="project-overview">
            <li> Designed and implemented a cross-platform financial application using C++ and the Qt framework. </li>
            <li> Developed features for data aggregation, analysis, and visualization to offer state-of-the-art financial insights. </li>
            <li> Prioritized user privacy by implementing robust security measures and data encryption techniques. </li>
            <li> Conducted thorough testing and debugging to ensure a seamless user experience across different operating systems. </li>
        </ul>

        <h3 class="title"> Dart application </h3>
        <p class="details"> Dart | Flutter | Android Studio | Finished </p>
        <p class="summary"> A cross-platform application built with Flutter that has a comprehensive cheese database. </p>
        <ul class="project-overview">
            <li> Developed a cross-platform cheese database application using Dart and Flutter framework. </li>
            <li> Implemented a user-friendly interface for browsing, searching, and filtering cheese varieties. </li>
            <li> Integrated local storage solutions to allow offline access to the cheese database. </li>
        </ul>


    </section>

    <section class="resume-section">
        <h2 class="section-title"> Work Experience </h2>
        <h3 class="title"> Food busser </h3>
        <p class="details"> Fran's Rooftop & Bar | June 2020 - August 2021 </p>
        <p class="summary"> Transported food from kitchen to dining area in a fast-paced restaurant environment, aided both back of house, front of house staff AND customers. </p>
        <p> Job duties </p>
        <ul class="job-duties">
            <li> Deliver food from kitchen to dining area in a timely manner without causing problems </li>
            <li> Aid front of house staff with cleaning surfaces when needed </li>
            <li> Deliver the dirty dishes back to the kitchen </li>
            <li> Wrap cutlery nicely with napkins </li>
            <li> Discard used frying oil </li>
            <li> Move heavy objects safely when requested </li>
            <li> Mop and broom the floors and stairs </li>
        </ul>
        <p> Skills: </p>
        <ul class="skills">
            <li> Time management </li>
            <li> Teamwork </li>
            <li> Customer service </li>
            <li> Communication </li>
            <li> Work under pressure </li>
        </ul>

        <h3 class="sub-title"> General laborer </h3>
        <p class="details"> Micor Recycling | May 2020 - September 2021 </p>
        <p class="summary"> Worked in an outdoor environment collecting scrap tires around the Grand Toronto Area </p>
        <p> Job duties: </p>
        <ul class="job-duties">
            <li> Unload scrap tires to designated storage area first thing in the morning </li>
            <li> In a moving truck, collect scrap tires from various locations around the Grand Toronto Area </li>
            <li> Safely remove debris from scrap tires before loading them onto the truck </li>
            <li> Securely load scrap tires onto the truck in an organized fashion </li>
        </ul>
        <p> Skills: </p>
        <ul class="skills">
            <li> Physical endurance </li>
            <li> Tire throwing </li>
            <li> Weather resilience </li>
            <li> Patience </li>
            <li> Humor </li>
            <li> Singing </li>
        </ul>
    </section>

    <section class="resume-section">
        <h2> Certifications </h2>
        <ul>
            <li> CompTIA A+, 2026 </li>
        </ul>
    </section>
{% endblock %}